$glass: rgba(239, 239, 239, 0.3);
$light-glass: rgba(239, 239, 239, 0.8);
$ace-Yellow: #FFCE20;

// These will be removed when users can set their colour
$alt1: #6c0097;
$alt2: #ec922a;
$alt3: #0ec28c;

// Eventually this will be user set
$user-colour: $ace-Yellow;