@import './colours.scss';

// prevent page CSS interfering with Acetate card design
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.cardsContainer {
    height: 100%;
    margin: auto;
    min-height: 100vh;
    padding-top: 10px;
    position: absolute;
    right: -355px;
    top: 0px;
    width: 400px;
    z-index: 9001;

    .annotationCard {
        background-color: $ace-Yellow;
        border-radius: 5px;
        color: #ffffff;
        display: flex;
        filter: opacity(0.5);
        flex-direction: row;
        margin-bottom: 5px;
        max-width: 100%;
        min-height: 85px;
        padding: 5px 5px 5px 0;;
        transition: all 0.25s ease-in-out;
        /** Chrome & Safari **/
        -webkit-transition: all 0.25s ease-in-out;
        /** Firefox **/
        -moz-transition: all 0.25s ease-in-out;
        /** Opera **/
        -o-transition: all 0.25s ease-in-out;

        .userID {
            flex: 1.2;

            .initials {
                background-color: rgba(239, 239, 239, 0.3);
                border-radius: 5px;
                font-family: sans-serif;
                font-size: 1em;
                font-style: italic;
                height: 1em;
                padding: 5px;
                margin: auto 7px;
                text-align: center;
            }
        }

        .cardMain {
            display: flex;
            flex: 9;
            flex-direction: column;

            .cardHeader {
                display: flex;
                flex: 1;
                flex-direction: row;
                margin-bottom: 15px;

                .cardTitle {
                    flex: 8;

                    p {
                        margin: 0;
                    }

                    .username {
                        font-weight: bold;
                    }

                    .created {
                        font-size: 0.8em;
                        font-style: italic;
                    }
                }
    
                .controls {
                    display: flex;
                    flex: 1;
                    list-style: none;
                    text-align: center;
                    width: 100%;
        
        
                    p {
                        border-radius: 5px;
                        flex: 1;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 0;
                        padding: 0.5em 1em 0;
        
                        &:hover {
                            background-color: $light-glass;
                        }
                    }
                }
            }

            .cardBody {
                display: flex;
                flex: 2;
            
                textarea {
                    background-color: $dark-glass;
                    border: none;
                    color: white;
                    flex: 1;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    resize: none;
                    width: 90%;
        
                    &:disabled {
                        
                        background-color: $transparent;
                    }
                }
            }

        }
    }

    .annotationCard.out,
    .annotationCard:hover,
    .annotationCard.edit {
        background-color: $ace-Yellow;
        filter: drop-shadow(0px 3px 5px #000000);
        filter: opacity(1);
        transform: translate(-355px, 0);
        /** Chrome & Safari **/
        -webkit-transform: translate(-355px, 0);
        /** Opera **/
        -o-transform: translate(-355px, 0);
        /** Firefox **/
        -moz-transform: translate(-355px, 0);
    }
}